# Python
__pycache__/
*.py[cod]
*.sqlite3

# Virtual environment
venv/
env/

# Environment variables
.env

# VS Code
.vscode/

# PyCharm
.idea/

# Static/media collected files
staticfiles/
media/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Migrations cache
*/migrations/__pycache__

# pytest
.pytest_cache/

# mypy
.mypy_cache/

# Coverage
htmlcov/
.coverage

# Node
node_modules/

# tailwind output.css
static/dist/output.css

static/dist/
static/css/