{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mabatini Pumba Center{% endblock title %}</title>
    
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
</head>
<body class="m-4">

    <!--Add navbar partial-->
    {% include 'partials/navbar.html' %}

    <main>
        {% block content %}
        {% endblock content %}
    </main>

    <!--Add order button partials-->
    {% include 'partials/order_button.html' %}

    <!--Add contacts partials-->
    {% include 'partials/contacts.html' %}
    
    <!--Add footer partial-->
    {% include 'partials/footer.html' %}

    <!--Mobile buttom navbar-->
    {% include 'partials/mobile_bottom_navbar.html' %}

</body>
</html>