{% extends 'base.html' %}

{% block content %}
<section>
    <div>
        <h2>Homepage</h2>
        {% for category in categories %}
        <a href="{% url 'core:categories' category.slug %}">
        {{category.category_name}}
        </a>
        {% endfor %}
    </div>

    <hr>
    <div>
        <h2>Products</h2>
        {% for product in products %}
        <h3>{{ product.product_name }}</h3>
        {% empty %}
        <p>No products found in this category</p>
        {% endfor %}
    </div>
</section>
{% endblock %}
